@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

:root {
  font-family: "League Spartan", sans-serif;
  font-size: 16px;

  --background: hsl(180, 52%, 96%);
  --filter-tablets: hsl(180, 31%, 95%);
  --grayish-cyan: hsl(180, 8%, 52%);
  --dark-grayish-cyan: hsl(180, 14%, 20%);
  --desaturated-dark-cyan: hsl(180, 29%, 50%);
}

body {
  margin: 0;
  background-color: var(--background);
  min-height: 100vh;
}

main {
  width: clamp(325px, 80vw, 1100px);
  margin: 0 auto;
}

header {
  background: url("./assets/images/bg-header-desktop.svg");
  background-color: var(--desaturated-dark-cyan);
  height: 156px;
}
